{% extends "base.html" %}

{% set DOMAIN = 'blog.tildes.net' %}

{% block meta_og_tags %}
  <meta property="og:site_name" content="Tildes Blog">
  <meta property="og:title" content="{{ article.title }}">
  <meta property="og:type" content="website">
  <meta property="og:description" content="{{ article.summary }}">
  <meta property="og:url" content="{{ article.url }}">
{% endblock %}

{% block title %}{{ article.title }}{% endblock %}

{% block header %}
  <a href="https://{{ DOMAIN }}">Tildes Blog</a>
{% endblock header %}

{% block content %}
<h1>{{ article.title }}</h1>

<div class="date-info">
  Posted on {{ article.locale_date }} by {{ article.author }}
  {% if article.modified %}
    <br>Last edited on {{ article.locale_modified }}
    (<a href="{{ GITLAB_HISTORY_BASE_URL ~ article.get_relative_source_path() }}">view history</a>)
  {% endif %}
</div>

{{ article.content }}

{% endblock %}

{% block pagelist %}
  <h2>Blog Posts</h2>
  <ul>
  {% for other_article in articles %}
  <li>
    <div class="post-date">{{ other_article.locale_date }}</div>
    <a href="{{ other_article.url }}">{{ other_article.title }}</a>
  </li>
  {% endfor %}
  </ul>
{% endblock %}
