{% extends "base.html" %}

{% set DOMAIN = 'docs.tildes.net' %}

{% block meta_og_tags %}
  <meta property="og:site_name" content="Tildes Docs">
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:type" content="website">
  <meta property="og:description" content="{{ page.summary }}">
  <meta property="og:url" content="{{ page.url }}">
{% endblock %}

{% block title %}{{ page.title }}{% endblock %}

{% block header %}
  <a href="https://{{ DOMAIN }}">Tildes Docs</a>
{% endblock header %}

{% block content %}
<h1>{{ page.title }}</h1>

{% if page.modified %}
<div class="date-info">
  Page last updated: {{ page.locale_modified }}
  (<a href="{{ GITLAB_HISTORY_BASE_URL ~ page.get_relative_source_path() }}">view history</a>)
</div>
{% endif %}

{{ page.content }}
{% endblock %}

{% block pagelist %}
  <h2>Documents</h2>
  <ul>
  {% for other_page in pages %}
  {% if other_page == page %}
  <li class="current">
  {% else %}
  <li>
  {% endif %}
    <a href="{{ other_page.url }}">{{ other_page.title }}</a>
    {% if other_page.summary %}
      <p class="summary">{{ other_page.summary }}</p>
    {% endif %}
  </li>
  {% endfor %}
  </ul>
{% endblock %}
