{% extends "base.html" %}

{% set DOMAIN = 'docs.tildes.net' %}

{% block header %}
  <a href="https://{{ DOMAIN }}">Tildes Docs</a>
{% endblock header %}

{% block title %}Tildes Docs{% endblock %}

{% block content %}
<p>This is the Tildes Docs site, which will eventually contain all sorts of official documentation-type pages, but right now it's barely started. There isn't much here yet, and even the pages that are here are very much in-progress.</p>

<p>That being said, there are still a few pages that you might be interested in reading, if you're looking for more information about Tildes:</p>

<ul>
  <li><strong><a href="/overall-goals">Overall Goals</a></strong> - covers some different goals than the ones in the <a href="https://blog.tildes.net/announcing-tildes">announcement post</a>.</li>
  <li><strong><a href="/technical-goals">Technical Goals</a></strong> - another list of goals, but on the more technical/implementation side of things. Talks a bit about technology that I'm using, the approach to open-sourcing, and some other details related to the more practical side of building the site.</li>
  <li><strong><a href="/mechanics">Mechanics</a></strong> - description of the basic mechanics currently present in the alpha, along with a bit of information about their purposes.</li>
  <li><strong><a href="/mechanics-future">Mechanics (Future)</a></strong> - information about some mechanics that are planned for the future, and discussion on how features should be implemented.  Check here before suggesting a new feature for Tildes.</li>
  <li><strong><a href="/faq">"Frequently Asked" Questions</a></strong> - random information about the site, formatted as answers to questions that nobody's actually asked yet. This is where almost everything that doesn't fit into the other sections is going to end up for now.</li>
  <li><strong><a href="/bug-reporting">Found a bug in Tildes?</a></strong> You can check to see if it's been reported already and file an issue on the tracker if not!</li>
</ul>

<p>Additionally, we've already had some good discussions/links you might be interested in reading to get a feel for Tildes:</p>
<ul>
<li><strong><a href="https://tildes.net/~tildes/o4/extended_scripts_for_tildes_alpha">Some simple user scripts.</a></strong> - it's not RES, but it's a start.</li>
<li><strong><a href="https://tildes.net/~talk/dk/introductions">
A few</a> <a href="https://tildes.net/~talk/sy/introductions_round_2">introduction</a> <a href="https://tildes.net/~talk/10l/i_think_its_time_for_introductions_episode_3">threads</a></strong>. - stop in and say hi!</li>
<li><strong><a href="https://tildes.net/~talk/j3/do_you_have_any_opinion_about_cultural_exchanges">What about cultural exchanges?</a></strong> - great idea there.</li>
<li><strong><a href="https://tildes.net/~talk/15r/where_are_you_from">Where are you from?</a></strong> - quite the diversity in countries already!</li>
<li><strong><a href="https://tildes.net/~talk/n0/so_far_this_site_has_been_mostly_politics_averse_but_i_am_curious_if_i_am_alone_as_an_maga_trump">Our first Trump thread</a></strong> - went better than expected.</li>
<li><strong><a href="https://tildes.net/~tildes/i6/daily_tildes_discussion_general_impressions_annoyances_thoughts_on_changing_the_default_sort">First impressions?</a></strong> - once you've slogged through all this, tell us what you think about the site. ;)</li>
</ul>
{% endblock %}

{% block pagelist %}
  <h2>Documents</h2>
  <ul>
  {% for page in pages %}
  <li>
    <a href="{{ page.url }}">{{ page.title }}</a>
    {% if page.summary %}
      <p class="summary">{{ page.summary }}</p>
    {% endif %}
  </li>
  {% endfor %}
  </ul>
{% endblock %}
